{% extends "@admin/components/forms/group.html.twig" %}

{% block group_form %}
    {{ parent() }}
    <div class="col-sm-12">{% include 'FormGenerator/FormGenerator.html.twig' with {fields: form.customFields} %}</div>
{% endblock %}