{% extends "@admin/components/forms/user.html.twig" %}

{% block user_form %}
    {{ parent() }}
    <div class="col-sm-12">{% include 'FormGenerator/FormGenerator.html.twig' with {fields: form.customFields} %}</div>
{% endblock %}