{% extends "@admin/pages/group.html.twig" %}

{% block group_profile %}
    {% for field in customFields %}
        <hr>
        <strong><i class="fa {{ field.icon }} margin-r-5"></i> {{ translate(field.label) }}</strong>
        <p class="text-muted box-profile-property">
            {{ field.data }}
        </p>
    {% endfor %}
{% endblock %}