{% extends "@admin/pages/user.html.twig" %}

{% block user_profile %}
    {% for field in form.customFields %}
        <hr>
        <strong><i class="fa {{ field.icon }} margin-r-5"></i> {{ translate(field.label) }}</strong>
        <p class="text-muted box-profile-property">
            {{ translate(field.value) }}
        </p>
    {% endfor %}
{% endblock %}